body {
  height: 97vh;
}

h1 {
  text-align: center;
}

.container .magem {
  text-align: center;
  height: 500px;
  width: 450x;
  padding: 20px;
}

.mage2 {
  width: 1400px;
  height: 350px;
}

h2 {
  text-align: center;
}
